.div_header {
  width: 100%;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0.2);
  padding-top: 10px;
  display: flex;
  align-items: center;
  height: 88px;
}
.span_nu_title {
  color: #fd377e;
}
.title_kenzie {
  margin-left: 190px;
  margin-right: 740px;
  color: white;
}
@media (max-width: 1115px) {
  .title_kenzie {
    margin: 0 auto;
    margin-left: 50px;
  }
}
.span_start {
  background: #e9ecef;
  border: 1.4px solid #e9ecef;
  border-radius: 8px;
  padding: 15px;
  gap: 10px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;

  color: #343a40;
}
@media (max-width: 1115px) {
  .span_start {
    margin: 0 auto;
    margin-right: 10px;
  }
}
