.div_inputs {
  width: 363px;
  height: 351px;
  background: #ffffff;
  border: 1px solid #e9ecef;
  border-radius: 4px;
  margin-left: 90px;
}
.label_description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #212529;
  padding-top: 40px;
  display: block;
  margin-right: 240px;
  margin-bottom: 20px;
}
.input_description {
  padding: 0px 16px;
  gap: 10px;
  width: 280px;
  height: 40.8px;
  background: #f8f9fa;
  box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #868e96;
  margin-left: 20px;
}
.span_example {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #868e96;
  margin-top: 6px;
  margin-right: 160px;
  margin-bottom: 40px;
}
.div_description_value_example {
  display: flex;
  flex-direction: column;
}
@media (max-width: 700px) {
  .div_description_value_example {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
  }
}

.inputs_label_value_button {
  display: flex;
  position: relative;
}
.label_value {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #212529;
  margin-top: 200px;
  margin-left: -45px;
}
.input_value {
  width: 128px;
  background: #f8f9fa;
  border: 2px solid #f8f9fa;
  border-radius: 8px;
  height: 40px;
  margin-left: 20px;
}
.type_value {
  width: 128px;

  background: #f8f9fa;
  border: 2px solid #f8f9fa;
  border-radius: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #343a40;
  height: 46px;
}
.button_insert_value {
  width: 314px;
  height: 48px;
  color: white;
  background: #fd377e;
  border: 2px solid #fd377e;
  border-radius: 8px;
  margin-left: 20px;
  margin-top: 20px;
}
.type_value_label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #212529;
  margin-left: -30px;
}
.div_label_type_value {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 58px;
  margin-top: 10px;
}
